<div class="body">
  <!-- <div class="playAgain">
    <img class="cloud animated slideInLeft" ng-if="expectedResult.length === resultLink.length" ng-click="playAgain()" src="img/cloud.png" alt="cloud" />
  </div> -->
  <div class="play-again">
    <span class="animated pulse infinite"><i class="ion-refresh" ng-show="expectedResult.length === resultLink.length" ng-click="playAgain()"></i></span>
  </div>
    <div class="container">
      <div class="row animated slideInLeft question-container">
        <div class="question-container" ng-repeat="question in questionArray">
              <img  class = "promptPic" ng-src="img/{{question.name}}.png" alt="ask for" />
        </div>
      </div>
      <div class="row answer-container">
        <div class="animated slideInLeft" ng-repeat="result in resultLink">
            <img class="promptPic" ng-src="img/{{result.name}}.png"/>
        </div>
      </div>
      <div class="row animated slideInRight options-container">
        <div class="" ng-repeat="option in optionsArray">
            <img ng-class="{ 'animated wobble error' : option.wobble === true }" ng-click="clicked(option)" class="promptPic" ng-src="img/{{option.name}}.png" alt="option" />
        </div>
      </div>
    </div>
    <div ng-show="settings === 'show'" class="settings">
      <a ng-repeat="level in levels" ng-click="levelChange(level)" class="active tab button icon button-calm">{{level}}</a>
    </div>
  <div class="tabs tabs-background-transparent tabs-color-calm tabs-icon-top">
  <a class="tab-item active" >
    <i class="icon ion-ios-people"></i>
    Team
  </a>
  <a class="tab-item active" ng-click="setSettings()">
    <i class="icon ion-settings"></i>
    Level
  </a>
</div>
</div>
