/* Empty. Add your own CSS if you like */
.body {
  /*background-color: #c5e1fb;*/
  background-image: url("rainbowbg.jpg");
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.play-again{
  position: absolute;
  color: green;
  top : 0;
  left : 0;
  transform: translate(380%,26%);
  font-size: 10em;
}
.basket > img{
height: 90px;
width: 90px;

}

.basket{
  position: absolute;
  color: #019DDA;
  top : 0;
  left : 0;
  background-color: rgba(0,0,0,.001);
  transform: translate(1020%,3%);
}
.baskets-img{
  border: 2px solid white;
  border-radius: 3px;
  height: 75px;
  width: 75px;
  padding: 5px;
}
.settings{
  /*position: absolute;*/
  position: absolute;
  top : 0;
  left : 0;
  transform: translate(176%,1425%);
}
.tabs-background-transparent{
  background-color: rgba(0,0,0,.001);
}
.container{

margin: auto;
width: 90%;
align-items: center;
justify-content: center;
background-color: rgba(131, 196, 100,.5);
}

.container-basket{
display: flex;
margin: auto;
width: 80%;
align-items: center;
justify-content: center;
border-radius: 5px;
flex-wrap: wrap;

}

.question-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 150px;
}
.answer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  text-align: center;
  border: 2px solid yellow;
  margin-bottom: 15px;
}
.options-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap
}

.prompt {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.error{
  border: 4px solid red; /*border is messing up spacing */
  border-radius: 10px;
}


.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  opacity: .5;
}

.options {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 2px solid blue;*/
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.promptPic {
  /*border: 4px outset transparent;*/
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 130px;
  width: 130px;
}
